<!DOCTYPE html>
<html>
<head>
  <!-- <meta charset="utf-8"> -->
  <title>100ActiveDays1.1.0</title>
  <script src="/js/moment.js"></script>
  <script src="/js/jquery.js"></script>
  <!-- <script type="text/javascript">
    $(document).ready(function(){
      var now = moment();

      var current_date = now.format('LL');
      var curent_time = now.format('LTS');

      $('#date').text(current_date);
      $('#time').text(curent_time);
    });
  </script> -->
  <script type="text/javascript">
    var myVar = setInterval(myTimer, 1000);
    function myTimer(){
      var d = new Date();
      document.getElementById("time").innerHTML = d.toLocaleTimeString();
      document.getElementById("date").innerHTML = d.toDateString();
      document.getElementById("hours").innerHTML = d.getHours();
      document.getElementById("minitues").innerHTML = d.getMinutes();
      document.getElementById("seconds").innerHTML = d.getSeconds();
    }
  </script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <!-- Navigation Bar -->
  <div class="buttons">
    <ul>
      <a id="home" href="/"><li>100<span style="color:rgb(242, 216, 8)">Active</span>Days</li></a>
      <a  href="/prev_workouts"><li>Previous</li></a>
      <a class="right" href="/missed"><li>Missed</li></a>
      <a class="right" href="/challenges"><li>Add Challenges</li></a>
      <a class="right" href="/current"><li>Current Workout</li></a>
      <a class="right" href="/events"><li>Race Events</li></a>
    </ul>
  </div>
  <br>
  <div class="container">
  {{{body}}}
  </div>

  <div class="current">
    <div class="clock">
      <h1 id="time"></h1>
      <h3 style="color:white" id="date"></h3>
    </div>
  </div>

</body>
</html>
