<!DOCTYPE html>
<html>
<head>
  <!-- <meta charset="utf-8"> -->
  <title>100ActiveDays1.1.0</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <!-- Navigation Bar -->
  <div class="buttons">
    <ul>
      <a id="home" href="/"><li>100<span style="color:rgb(242, 216, 8)">Active</span>Days</li></a>
      <a href="/prev_workouts"><li>Previous</li></a>
      <a href="/missed"><li>Missed</li></a>
      <a href="/challenges"><li>Add Challenges</li></a>
      <a href="/current"><li>Current Workout</li></a>
    </ul>
  </div>
  <br>
  <div class="container">
  {{{body}}}
  </div>
  <div class="current">
    <h1>Day # 1 </h1>
    <h3>12-December 2013</h3>

  </div>
</body>
</html>
