<div class="current">

<div class="heading">
  <h1>Add today's Exercise</h1>
  <p></p>
</div>
<form action="/add_workout/add" method="POST">
  <label for="">Date</label>
<div class="">
    <input class="input" type="text" placeholder="Date" name="the_date" value="{{the_date}}">
</div>
  <label for="">Excercise</label>
<div class="">
    <input class="input" type="text" placeholder="Excercise"name="workout" value="{{workout}}">
</div>
    <label for="">Duration</label>
  <div>
    <input class="input" type="number" placeholder="Duration - Accepted Format : 2.30 for 2 and 1/2 hours ect.." name="duration" value="{{duration}}">
  </div>
  <br>
  <div class="submit_button">
    <input id="submit" type="submit">
  </div>
</form>
</div>
