<div class="current">
<h1>Current Excercise</h1>
<br>
{{#workouts}}
<h3>Work Out : {{workout}}</h3>
<h3>Duration : {{duration}}</h3>
{{/workouts}}

<button type="button" name="button">Cancel</button>


<!-- Enable when Comfortable with Everything to reset or Submit the current challenge -->
<!-- <form action="/excercise/current" method="POST"> -->
<!-- <button type="button" name="button">Submit</button> -->
<!-- </form> -->
</div>
