<div class="current">
<h1>Current Excercise</h1>
<br>
<h3>Work Out : Running</h3>
<h3>Duration : 1h:00</h3>
<form action="/excercise/current" method="POST">
<button type="button" name="button">Submit</button>
<button type="button" name="button">Cancel</button>
</form>
</div>
